<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Roman-Accent- </key>
	<dict>
		<key>Direction</key>
		<string>left</string>
		<key>Keycaps</key>
		<string>` ¨ ´</string>
		<key>Strings</key>
		<string>` ¨ ´</string>
	</dict>
	<key>Roman-Accent-,!</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>; ¡</string>
		<key>Strings</key>
		<string>; ¡</string>
	</dict>
	<key>Roman-Accent-.?</key>
	<dict>
		<key>Direction</key>
		<string>left</string>
		<key>Keycaps</key>
		<string>: ¿</string>
		<key>Strings</key>
		<string>: ¿</string>
	</dict>
	<key>Roman-Accent-0</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>0º 0ª 0</string>
		<key>Strings</key>
		<string>0º 0ª 0</string>
	</dict>
	<key>Roman-Accent-1</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>1º 1ª 1</string>
		<key>Strings</key>
		<string>1º 1ª 1</string>
	</dict>
	<key>Roman-Accent-2</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>2º 2ª 2</string>
		<key>Strings</key>
		<string>2º 2ª 2</string>
	</dict>
	<key>Roman-Accent-3</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>3º 3ª 3</string>
		<key>Strings</key>
		<string>3º 3ª 3</string>
	</dict>
	<key>Roman-Accent-4</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>4º 4ª 4</string>
		<key>Strings</key>
		<string>4º 4ª 4</string>
	</dict>
	<key>Roman-Accent-5</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>5º 5ª 5</string>
		<key>Strings</key>
		<string>5º 5ª 5</string>
	</dict>
	<key>Roman-Accent-6</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>6º 6ª 6</string>
		<key>Strings</key>
		<string>6º 6ª 6</string>
	</dict>
	<key>Roman-Accent-7</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>7º 7ª 7</string>
		<key>Strings</key>
		<string>7º 7ª 7</string>
	</dict>
	<key>Roman-Accent-8</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>8º 8ª 8</string>
		<key>Strings</key>
		<string>8º 8ª 8</string>
	</dict>
	<key>Roman-Accent-9</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>9º 9ª 9</string>
		<key>Strings</key>
		<string>9º 9ª 9</string>
	</dict>
	<key>Roman-Accent-A</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>Á A ª À Ä Â Ã Å Ą Æ Ā</string>
		<key>Strings</key>
		<string>Á A ª À Ä Â Ã Å Ą Æ Ā</string>
	</dict>
	<key>Roman-Accent-C</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>C Ç Ć Č</string>
		<key>Strings</key>
		<string>C Ç Ć Č</string>
	</dict>
	<key>Roman-Accent-D</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>D Đ</string>
		<key>Strings</key>
		<string>D Đ</string>
	</dict>
	<key>Roman-Accent-E</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>É E È Ë Ê Ę Ė Ē</string>
		<key>Strings</key>
		<string>É E È Ë Ê Ę Ė Ē</string>
	</dict>
	<key>Roman-Accent-I</key>
	<dict>
		<key>Direction</key>
		<string>left</string>
		<key>Keycaps</key>
		<string>Í I Ï Ì Î Į Ī</string>
		<key>Strings</key>
		<string>Í I Ï Ì Î Į Ī</string>
	</dict>
	<key>Roman-Accent-N</key>
	<dict>
		<key>Direction</key>
		<string>left</string>
		<key>Keycaps</key>
		<string>N Ñ Ń</string>
		<key>Strings</key>
		<string>N Ñ Ń</string>
	</dict>
	<key>Roman-Accent-O</key>
	<dict>
		<key>Direction</key>
		<string>left</string>
		<key>Keycaps</key>
		<string>Ó O º Ò Ö Ô Õ Ø Œ Ō</string>
		<key>Strings</key>
		<string>Ó O º Ò Ö Ô Õ Ø Œ Ō</string>
	</dict>
	<key>Roman-Accent-S</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>S Š</string>
		<key>Strings</key>
		<string>S Š</string>
	</dict>
	<key>Roman-Accent-U</key>
	<dict>
		<key>Direction</key>
		<string>left</string>
		<key>Keycaps</key>
		<string>Ú Ü U Ù Û Ū</string>
		<key>Strings</key>
		<string>Ú Ü U Ù Û Ū</string>
	</dict>
	<key>Roman-Accent-a</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>á a ª à ä â ã å ą æ ā</string>
		<key>Strings</key>
		<string>á a ª à ä â ã å ą æ ā</string>
	</dict>
	<key>Roman-Accent-c</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>c ç ć č</string>
		<key>Strings</key>
		<string>c ç ć č</string>
	</dict>
	<key>Roman-Accent-d</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>d đ</string>
		<key>Strings</key>
		<string>d đ</string>
	</dict>
	<key>Roman-Accent-e</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>é e è ë ê ę ė ē</string>
		<key>Strings</key>
		<string>é e è ë ê ę ė ē</string>
	</dict>
	<key>Roman-Accent-i</key>
	<dict>
		<key>Direction</key>
		<string>left</string>
		<key>Keycaps</key>
		<string>í i ï ì î į ī</string>
		<key>Strings</key>
		<string>í i ï ì î į ī</string>
	</dict>
	<key>Roman-Accent-n</key>
	<dict>
		<key>Direction</key>
		<string>left</string>
		<key>Keycaps</key>
		<string>n ñ ń</string>
		<key>Strings</key>
		<string>n ñ ń</string>
	</dict>
	<key>Roman-Accent-o</key>
	<dict>
		<key>Direction</key>
		<string>left</string>
		<key>Keycaps</key>
		<string>ó o º ò ö ô õ ø œ ō</string>
		<key>Strings</key>
		<string>ó o º ò ö ô õ ø œ ō</string>
	</dict>
	<key>Roman-Accent-s</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>s š</string>
		<key>Strings</key>
		<string>s š</string>
	</dict>
	<key>Roman-Accent-u</key>
	<dict>
		<key>Direction</key>
		<string>left</string>
		<key>Keycaps</key>
		<string>ú ü u ù û ū</string>
		<key>Strings</key>
		<string>ú ü u ù û ū</string>
	</dict>
	<key>UI-ABC</key>
	<string>ABC</string>
	<key>UI-Bold</key>
	<string>negrita</string>
	<key>UI-Cancel</key>
	<string>Cancelar</string>
	<key>UI-Copy</key>
	<string>copiar</string>
	<key>UI-Cut</key>
	<string>cortar</string>
	<key>UI-Done</key>
	<string>Aceptar</string>
	<key>UI-EmergencyCall</key>
	<string>  Llamada  
SOS</string>
	<key>UI-Go</key>
	<string>Ir</string>
	<key>UI-Italic</key>
	<string>cursiva</string>
	<key>UI-Join</key>
	<string>Conectar</string>
	<key>UI-LanguageIndicator</key>
	<string>Español</string>
	<key>UI-Next</key>
	<string>Siguiente</string>
	<key>UI-Numbers</key>
	<string>123</string>
	<key>UI-NumbersSymbols</key>
	<string>.?123</string>
	<key>UI-Paste</key>
	<string>pegar</string>
	<key>UI-Pause</key>
	<string>pausa</string>
	<key>UI-Prediction</key>
	<string>Deslizar hacia abajo para cerrar</string>
	<key>UI-Redo</key>
	<string>Rehacer</string>
	<key>UI-Return</key>
	<string>intro</string>
	<key>UI-Route</key>
	<string>Ruta</string>
	<key>UI-Search</key>
	<string>Buscar</string>
	<key>UI-Send</key>
	<string>Enviar</string>
	<key>UI-Space</key>
	<string>espacio</string>
	<key>UI-Underline</key>
	<string>subrayado</string>
	<key>UI-Undo</key>
	<string>Deshacer</string>
	<key>UI-Wait</key>
	<string>espera</string>
</dict>
</plist>
