<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UI-ABC</key>
	<string>注音</string>
	<key>UI-Zhuyin-FirstTone</key>
	<string>一聲</string>
	<key>Roman-Accent-，-Capital-Letters</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>!</string>
		<key>Strings</key>
		<string>！</string>
	</dict>
	<key>Roman-Accent-，-Small-Letters</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>!</string>
		<key>Strings</key>
		<string>！</string>
	</dict>
	<key>Roman-Accent-。-Capital-Letters</key>
	<dict>
		<key>Direction</key>
		<string>left</string>
		<key>Keycaps</key>
		<string>?</string>
		<key>Strings</key>
		<string>？</string>
	</dict>
	<key>Roman-Accent-。-Small-Letters</key>
	<dict>
		<key>Direction</key>
		<string>left</string>
		<key>Keycaps</key>
		<string>？</string>
		<key>Strings</key>
		<string>?</string>
	</dict>
</dict>
</plist>
