<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UI-PrimaryCurrencySign</key>
	<string>₹</string>
	<key>UI-TopLevelDomain</key>
	<dict>
		<key>Direction</key>
		<string>left</string>
		<key>Keycaps</key>
		<string>.com .in .org .co.in .بھارت</string>
		<key>Strings</key>
		<string>.com .in .org .co.in .بھارت</string>
	</dict>
</dict>
</plist>
