<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Roman-Accent-A</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>Ą A À Á Â Ä Æ Ã Å Ā</string>
		<key>Strings</key>
		<string>Ą A À Á Â Ä Æ Ã Å Ā</string>
	</dict>
	<key>Roman-Accent-C</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>Ć C Ç Č</string>
		<key>Strings</key>
		<string>Ć C Ç Č</string>
	</dict>
	<key>Roman-Accent-E</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>Ę E È É Ê Ë Ė Ē</string>
		<key>Strings</key>
		<string>Ę E È É Ê Ë Ė Ē</string>
	</dict>
	<key>Roman-Accent-L</key>
	<dict>
		<key>Direction</key>
		<string>left</string>
		<key>Keycaps</key>
		<string>Ł L</string>
		<key>Strings</key>
		<string>Ł L</string>
	</dict>
	<key>Roman-Accent-N</key>
	<dict>
		<key>Direction</key>
		<string>left</string>
		<key>Keycaps</key>
		<string>Ń N Ñ</string>
		<key>Strings</key>
		<string>Ń N Ñ</string>
	</dict>
	<key>Roman-Accent-O</key>
	<dict>
		<key>Direction</key>
		<string>left</string>
		<key>Keycaps</key>
		<string>Ó O Ô Ö Ò Õ Œ Ø Ō</string>
		<key>Strings</key>
		<string>Ó O Ô Ö Ò Õ Œ Ø Ō</string>
	</dict>
	<key>Roman-Accent-S</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>Ś S Š</string>
		<key>Strings</key>
		<string>Ś S Š</string>
	</dict>
	<key>Roman-Accent-Z</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>Ż Ź Z Ž</string>
		<key>Strings</key>
		<string>Ż Ź Z Ž</string>
	</dict>
	<key>Roman-Accent-a</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>ą a à á â ä æ ã å ā</string>
		<key>Strings</key>
		<string>ą a à á â ä æ ã å ā</string>
	</dict>
	<key>Roman-Accent-c</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>ć c ç č</string>
		<key>Strings</key>
		<string>ć c ç č</string>
	</dict>
	<key>Roman-Accent-e</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>ę e è é ê ë ė ē</string>
		<key>Strings</key>
		<string>ę e è é ê ë ė ē</string>
	</dict>
	<key>Roman-Accent-l</key>
	<dict>
		<key>Direction</key>
		<string>left</string>
		<key>Keycaps</key>
		<string>ł l</string>
		<key>Strings</key>
		<string>ł l</string>
	</dict>
	<key>Roman-Accent-n</key>
	<dict>
		<key>Direction</key>
		<string>left</string>
		<key>Keycaps</key>
		<string>ń n ñ</string>
		<key>Strings</key>
		<string>ń n ñ</string>
	</dict>
	<key>Roman-Accent-o</key>
	<dict>
		<key>Direction</key>
		<string>left</string>
		<key>Keycaps</key>
		<string>ó o ô ö ò õ œ ø ō</string>
		<key>Strings</key>
		<string>ó o ô ö ò õ œ ø ō</string>
	</dict>
	<key>Roman-Accent-s</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>ś s ß š</string>
		<key>Strings</key>
		<string>ś s ß š</string>
	</dict>
	<key>Roman-Accent-z</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>ż ź z ž</string>
		<key>Strings</key>
		<string>ż ź z ž</string>
	</dict>
	<key>UI-ABC</key>
	<string>ABC</string>
	<key>UI-AlternateCurrencySign-1</key>
	<string>$</string>
	<key>UI-AlternateCurrencySign-2</key>
	<string>£</string>
	<key>UI-AlternateCurrencySign-3</key>
	<string>¥</string>
	<key>UI-Bold</key>
	<string>pogrubienie</string>
	<key>UI-Cancel</key>
	<string>Anuluj</string>
	<key>UI-Copy</key>
	<string>kopiuj</string>
	<key>UI-Cut</key>
	<string>wytnij</string>
	<key>UI-Done</key>
	<string>Gotowe</string>
	<key>UI-EmergencyCall</key>
	<string>SOS</string>
	<key>UI-Go</key>
	<string>Idź</string>
	<key>UI-Italic</key>
	<string>kursywa</string>
	<key>UI-Join</key>
	<string>Połącz</string>
	<key>UI-LanguageIndicator</key>
	<string>Polski</string>
	<key>UI-Next</key>
	<string>Dalej</string>
	<key>UI-Numbers</key>
	<string>123</string>
	<key>UI-NumbersSymbols</key>
	<string>.?123</string>
	<key>UI-Paste</key>
	<string>wklej</string>
	<key>UI-Pause</key>
	<string>pauza</string>
	<key>UI-Prediction</key>
	<string>Przesuń w dół, aby zamknąć</string>
	<key>UI-PrimaryCurrencySign</key>
	<string>€</string>
	<key>UI-Redo</key>
	<string>Przywróć</string>
	<key>UI-Return</key>
	<string>return</string>
	<key>UI-Route</key>
	<string>Trasa</string>
	<key>UI-Search</key>
	<string>Szukaj</string>
	<key>UI-Send</key>
	<string>Wyślij</string>
	<key>UI-Space</key>
	<string>spacja</string>
	<key>UI-TopLevelDomain</key>
	<dict>
		<key>Direction</key>
		<string>left</string>
		<key>Keycaps</key>
		<string>.com .pl .org .edu .eu</string>
		<key>Strings</key>
		<string>.com .pl .org .edu .eu</string>
	</dict>
	<key>UI-Underline</key>
	<string>podkreślenie</string>
	<key>UI-Undo</key>
	<string>Cofnij</string>
	<key>UI-Wait</key>
	<string>czekaj</string>
</dict>
</plist>
