<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UI-ABC</key>
	<string>ABC</string>
	<key>UI-LanguageIndicator</key>
	<string>QWERTY</string>
	<key>UI-Numbers</key>
	<string>123</string>
	<key>UI-NumbersSymbols</key>
	<string>.?123</string>
</dict>
</plist>
