<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Roman-Accent-A</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>Á Æ A À Â Ä Ã Å Ā</string>
		<key>Strings</key>
		<string>Á Æ A À Â Ä Ã Å Ā</string>
	</dict>
	<key>Roman-Accent-D</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>Ð D</string>
		<key>Strings</key>
		<string>Ð D</string>
	</dict>
	<key>Roman-Accent-E</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>É E È Ê Ë Ę Ė Ē</string>
		<key>Strings</key>
		<string>É E È Ê Ë Ę Ė Ē</string>
	</dict>
	<key>Roman-Accent-I</key>
	<dict>
		<key>Direction</key>
		<string>left</string>
		<key>Keycaps</key>
		<string>Í I Î Ï Ì Į Ī</string>
		<key>Strings</key>
		<string>Í I Î Ï Ì Į Ī</string>
	</dict>
	<key>Roman-Accent-O</key>
	<dict>
		<key>Direction</key>
		<string>left</string>
		<key>Keycaps</key>
		<string>Ó Ö O Ô Ò Õ Œ Ø Ō</string>
		<key>Strings</key>
		<string>Ó Ö O Ô Ò Õ Œ Ø Ō</string>
	</dict>
	<key>Roman-Accent-T</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>Þ T</string>
		<key>Strings</key>
		<string>Þ T</string>
	</dict>
	<key>Roman-Accent-U</key>
	<dict>
		<key>Direction</key>
		<string>left</string>
		<key>Keycaps</key>
		<string>Ú U Û Ü Ù Ū</string>
		<key>Strings</key>
		<string>Ú U Û Ü Ù Ū</string>
	</dict>
	<key>Roman-Accent-Y</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>Ý Y Ÿ</string>
		<key>Strings</key>
		<string>Ý Y Ÿ</string>
	</dict>
	<key>Roman-Accent-a</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>á æ a à â ä ã å ā</string>
		<key>Strings</key>
		<string>á æ a à â ä ã å ā</string>
	</dict>
	<key>Roman-Accent-d</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>ð d</string>
		<key>Strings</key>
		<string>ð d</string>
	</dict>
	<key>Roman-Accent-e</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>é e è ê ë ę ė ē</string>
		<key>Strings</key>
		<string>é e è ê ë ę ė ē</string>
	</dict>
	<key>Roman-Accent-i</key>
	<dict>
		<key>Direction</key>
		<string>left</string>
		<key>Keycaps</key>
		<string>í i î ï ì į ī</string>
		<key>Strings</key>
		<string>í i î ï ì į ī</string>
	</dict>
	<key>Roman-Accent-o</key>
	<dict>
		<key>Direction</key>
		<string>left</string>
		<key>Keycaps</key>
		<string>ó ö o ô ò õ œ ø ō</string>
		<key>Strings</key>
		<string>ó ö o ô ò õ œ ø ō</string>
	</dict>
	<key>Roman-Accent-t</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>þ t</string>
		<key>Strings</key>
		<string>þ t</string>
	</dict>
	<key>Roman-Accent-u</key>
	<dict>
		<key>Direction</key>
		<string>left</string>
		<key>Keycaps</key>
		<string>ú u û ü ù ū</string>
		<key>Strings</key>
		<string>ú u û ü ù ū</string>
	</dict>
	<key>Roman-Accent-y</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>ý y ÿ</string>
		<key>Strings</key>
		<string>ý y ÿ</string>
	</dict>
	<key>UI-ABC</key>
	<string>ABC</string>
	<key>UI-AlternateCurrencySign-1</key>
	<string>€</string>
	<key>UI-AlternateCurrencySign-2</key>
	<string>$</string>
	<key>UI-AlternateCurrencySign-3</key>
	<string>£</string>
	<key>UI-Bold</key>
	<string>Feitletrað</string>
	<key>UI-Cancel</key>
	<string>Hætta við</string>
	<key>UI-Confirm</key>
	<string>confirm</string>
	<key>UI-Copy</key>
	<string>Afrita</string>
	<key>UI-Cut</key>
	<string>Klippa</string>
	<key>UI-Done</key>
	<string>Done</string>
	<key>UI-EmergencyCall</key>
	<string>  Neyðar-  
  símtal  </string>
	<key>UI-Go</key>
	<string>Áfram</string>
	<key>UI-Italic</key>
	<string>Skáletrað</string>
	<key>UI-Join</key>
	<string>Sameina</string>
	<key>UI-LanguageIndicator</key>
	<string>Íslenska</string>
	<key>UI-Next</key>
	<string>Næsta</string>
	<key>UI-Numbers</key>
	<string>123</string>
	<key>UI-NumbersSymbols</key>
	<string>.?123</string>
	<key>UI-Paste</key>
	<string>Líma</string>
	<key>UI-Pause</key>
	<string>hlé</string>
	<key>UI-PrimaryCurrencySign</key>
	<string>kr</string>
	<key>UI-Redo</key>
	<string>endurtaka</string>
	<key>UI-Return</key>
	<string>Venda</string>
	<key>UI-Route</key>
	<string>Leið</string>
	<key>UI-Search</key>
	<string>Leita</string>
	<key>UI-Select-First-Candidate</key>
	<string>next</string>
	<key>UI-Select-Next-Candidate</key>
	<string>next</string>
	<key>UI-Send</key>
	<string>Senda</string>
	<key>UI-Space</key>
	<string>Bil</string>
	<key>UI-TopLevelDomain</key>
	<dict>
		<key>Direction</key>
		<string>left</string>
		<key>Keycaps</key>
		<string>.com .is .org .edu .net</string>
		<key>Strings</key>
		<string>.com .is .org .edu .net</string>
	</dict>
	<key>UI-Underline</key>
	<string>Undirstrikað</string>
	<key>UI-Undo</key>
	<string>afturkalla</string>
	<key>UI-Wait</key>
	<string>bið</string>
</dict>
</plist>
